<div class="sidebar">
  <img
    src="./../../../../assets/images/logo_transparent.png"
    alt="logo siscot"
  />

  <div class="nav-items">
    <a class="link mr-2" routerLink="/users/list" routerLinkActive="active">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="person"
      ></mat-icon>
      Usuários
    </a>

    <a class="link mr-2" routerLink="/" routerLinkActive="active">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="calendar_month"
      ></mat-icon>
      Agenda
    </a>

    <a class="link mr-2" routerLink="/" routerLinkActive="active">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="description"
      ></mat-icon>
      Acompanhamentos
    </a>

    <a class="link mr-2" routerLink="/" routerLinkActive="active">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="work_history"
      ></mat-icon>
      Histórico
    </a>
  </div>
</div>
