<div class="sidebar">
  <img
    src="./../../../../assets/images/logo_transparent.png"
    alt="logo siscot"
  />

  <div class="nav-items">
    <a
      class="link mr-2"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="home"
      ></mat-icon>
      <span>Início</span>
    </a>

    <a class="link mr-2" routerLink="/users/list" routerLinkActive="active">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="person"
      ></mat-icon>
      <span>Usuários</span>
    </a>

    <a class="link mr-2" routerLink="/patients/list" routerLinkActive="active">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="sick"
      ></mat-icon>
      <span>Pacientes</span>
    </a>

    <a class="link mr-2" routerLink="/aaa" routerLinkActive="active">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="calendar_month"
      ></mat-icon>
      <span>Agenda</span>
    </a>

    <a
      class="link mr-2"
      routerLink="/accompaniments/list"
      routerLinkActive="active"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="description"
      ></mat-icon>
      <span>Acompanhamentos</span>
    </a>

    <a class="link mr-2 no-border" routerLink="/cc" routerLinkActive="active">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="work_history"
      ></mat-icon>
      <span>Histórico</span>
    </a>
  </div>
</div>
