.sidebar {
  height: 100vh;
  width: 260px;
  background: #e1a698a8;

  img {
    width: inherit;
  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    align-items: center;
  }
}
