.patients {
  display: flex;

  .content {
    width: 100%;

    h2 {
      margin: 34px 0;
    }

    input {
      height: 45px;
    }

    .wrapper-button {
      display: flex;
      justify-content: end;
      margin-bottom: 50px;

      button {
        background: #240747;
        color: white;
        height: 56px;

        &:hover {
          background: white;
          text-decoration: none;
          border: 1px solid #240747;
          color: #240747;
        }

        &:focus {
          box-shadow: none !important;
        }
      }
    }

    a {
      color: black;
      font-size: 20px;
      cursor: pointer;
    }

    a:not(.fa-trash) {
      margin-right: 8px;
    }

    .table-footer {
      padding: 0 1.2rem;
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    .pdf-button {
      background: white;
      text-decoration: none;
      border: 1px solid #240747;
      color: #240747;
      border-radius: 4px;
      padding: 4px 10px;
      font-size: 14px;

      &:hover {
        background: #240747;
        text-decoration: none;
        border: 1px solid #240747;
        color: white;
      }

      &:focus {
        box-shadow: none !important;
      }
    }
  }
}
