<head>
  <link
    rel="stylesheet"
    href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
    crossorigin="anonymous"
  />
</head>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Acompanhamentos</h2>
      </div>
    </div>
    <div class="row top">
      <div class="col-md-4">
        <div class="btn-group">
          <div
            class="btn btn-primary back-next-button"
            mwlCalendarPreviousView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()"
          >
            Anterior
          </div>
          <div
            class="btn btn-outline-secondary current-button"
            mwlCalendarToday
            [(viewDate)]="viewDate"
          >
            Atual
          </div>
          <div
            class="btn btn-primary back-next-button"
            mwlCalendarNextView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()"
          >
            Próximo
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3 class="cal-header text-center">
          {{ viewDate | calendarDate : view + "ViewTitle" : "pt" }}
        </h3>
      </div>
      <div class="col-md-4">
        <button
          class="btn addButton float-end"
          (click)="openAccompanimentForm()"
        >
          Adicionar Acompanhamento
        </button>
      </div>
    </div>

    <div [ngSwitch]="view">
      <mwl-calendar-month-view
        class="cal-header"
        *ngSwitchCase="CalendarView.Month"
        [viewDate]="viewDate"
        [events]="events"
        [locale]="locale"
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)"
      >
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
        class="cal-header"
        *ngSwitchCase="CalendarView.Week"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        [locale]="locale"
        (eventClicked)="handleEvent('Clicked', $event.event)"
      >
      </mwl-calendar-week-view>
      <mwl-calendar-day-view
        class="cal-header"
        *ngSwitchCase="CalendarView.Day"
        [viewDate]="viewDate"
        [events]="events"
        [locale]="locale"
        [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)"
      >
      </mwl-calendar-day-view>
    </div>

    <div class="row">
      <div class="col-12 pdf-wrapper">
        <div>
          <button class="pdf-button" (click)="createPDF()">
            Gerar Relatório
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
