<div class="users">
  <app-sidebar></app-sidebar>
  <div class="content">
    <div class="container">

      <div class="row">
        <div class="col-12">
          <h2>Lista de Usuários</h2>
        </div>
      </div>
      
      <div class="row">
        <div class="col-4">
          <form action="">
            <input
              type="text"
              name="filter"
              class="form-control"
              placeholder="Buscar..."
            />
          </form>
        </div>
    
        <div class="col-8 wrapper-button">
          <button class="btn btn-lg" (click)="addUser()">Adicionar Usuário</button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <ngx-datatable
            class="material container striped"
            [rows]="rows"
            [columnMode]="'flex'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="50"
            rowHeight="auto"
            [limit]="6"
            [messages]="{ emptyMessage: 'Nenhum aluno encontrado.' }"
          >
            <ngx-datatable-column
              name="Nome"
              prop="name"
              [flexGrow]="0.30"
            ></ngx-datatable-column>

            <ngx-datatable-column
              name="Email"
              prop="email"
              [flexGrow]="0.30"
            ></ngx-datatable-column>
            <ngx-datatable-column
              name="Cargo"
              prop="role"
              [flexGrow]="0.15"
            ></ngx-datatable-column>

            <ngx-datatable-column name="Ações" prop="" [flexGrow]="0.1">
              <ng-template ngx-datatable-cell-template let-value="value">
                <a class="link mr-2" (click)="viewUser(value.id)">
                  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="visibility"></mat-icon>
                </a>
                <a class="link mr-2" >
                  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon>
                </a>
                <a class="link" >
                  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon>
                </a>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>


