<div class="navbar">
  <div class="container profile">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <button mat-button [matMenuTriggerFor]="menu" #menuTrigger>
            <span>Vinicius Rodrigues</span>
            <mat-icon
              class="profile"
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="account_circle"
            ></mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
              <mat-icon
                class="logout"
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="logout"
              ></mat-icon
              ><span>Sair</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
</div>
