::ng-deep .mat-mdc-snack-bar-container {
  &.success-message {
    --mdc-snackbar-container-color: #198754;
    --mat-snack-bar-button-color: #4baaff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}

::ng-deep .mat-mdc-snack-bar-container {
  &.error-message {
    --mdc-snackbar-container-color: #dc3545;
    --mat-snack-bar-button-color: #4baaff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}
