.logo {
  display: flex;
  justify-content: center;

  img {
    height: 100vh;
  }
}

.form {
  height: 100vh;
  display: flex;
  align-items: center;
  background: #80808024;
  justify-content: center;
  flex-direction: column;

  p {
    position: absolute;
    top: 0;
    margin-top: 180px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px;
    color: #240747;
  }

  .login-input {
    margin-bottom: 14px;
    width: 270px;
  }

  .form-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    button {
      border: none;
      background: #240747;
      border: 1px solid #240747;
      color: white;
      border-radius: 5px;
      padding: 4px 16px;

      &:hover {
        background: white;
        text-decoration: none;
        border: 1px solid #240747;
        color: #240747;
      }

      &:focus {
        box-shadow: none !important;
      }
    }
  }
}
