.logo {
  display: flex;
  justify-content: center;

  img {
    height: 100vh;
  }
}

.form {
  height: 100vh;
  display: flex;
  align-items: center;
  background: #80808024;
  justify-content: center;

  .login-input {
    margin-bottom: 14px;
  }

  .form-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    button {
      border: none;
      background: #240747;
      color: white;
      border-radius: 5px;
      padding: 4px 16px;
    }
  }
}
