<div class="users">
  <app-sidebar></app-sidebar>
  <div class="content">
    <app-navbar></app-navbar>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="form-row">
            <ng-container>
              {{
                route.snapshot.params["action"] === "edit"
                  ? "Editar Usuário"
                  : route.snapshot.params["action"] === "view"
                  ? "Visualizar Usuário"
                  : "Adicionar Usuário"
              }}
            </ng-container>
          </h2>
        </div>
      </div>

      <div class="row">
        <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
          <div class="row form-row">
            <div class="col-md-9">
              <div class="form-group">
                <mat-form-field style="width: 100%">
                  <mat-label>Nome</mat-label>

                  <input type="text" matInput formControlName="nome" />
                  <mat-error
                    *ngIf="addUserForm?.get('nome')?.hasError('required')"
                  >
                    <strong>Obrigatório</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <mat-form-field style="width: 100%">
                  <mat-label>Cargo</mat-label>
                  <mat-select formControlName="cargo">
                    <mat-option value="ADMIN">Administrador</mat-option>
                    <mat-option value="SECRETARIO">Secretário</mat-option>
                    <mat-option value="ASSISTENTE SOCIAL"
                      >Assistente Social</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>

          <hr />

          <div class="row form-row">
            <div class="col-md-8">
              <div class="form-group">
                <mat-form-field style="width: 100%">
                  <mat-label>Email</mat-label>

                  <input type="email" matInput formControlName="email" />
                  <mat-error
                    *ngIf="
                      addUserForm?.get('email')?.hasError('email') &&
                      !addUserForm?.get('email')?.hasError('required')
                    "
                  >
                    <strong>Email inválido</strong>
                  </mat-error>
                  <mat-error
                    *ngIf="addUserForm?.get('email')?.hasError('required')"
                  >
                    <strong>Obrigatório</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <mat-form-field style="width: 100%">
                  <mat-label>Senha</mat-label>

                  <input type="text" matInput formControlName="senha" />
                  <mat-error
                    *ngIf="addUserForm?.get('senha')?.hasError('required')"
                  >
                    <strong>Obrigatório</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="button-group form-row">
            <div class="row">
              <div class="col-md-6">
                <button
                  class="btn btn-lg btn-warning text-white back-button"
                  (click)="backPage()"
                >
                  Voltar
                </button>
              </div>
              <div class="col-md-6 wrapper-save-user">
                <button
                  *ngIf="!disabled"
                  class="btn btn-lg btn-success text-white save-user"
                  type="submit"
                >
                  <ng-container *ngIf="!loading">
                    {{ route.snapshot.params["id"] ? "Editar" : "Cadastrar" }}
                  </ng-container>

                  <div
                    *ngIf="loading"
                    class="spinner-border"
                    role="status"
                  ></div>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
